.item-dropdown {
    width: 185px;
    padding: 3px;
    outline: none;
    border: 0;
    border: 1px solid #809ac6;
    border-radius: 5px;
    cursor: pointer;
}

.item-dropdown:focus {
    border: 1px solid #113064;
}

.date-block__item {
    margin: 20px;
}

.field {
    padding: 3.5px 5px 1.5px 5px;
    outline: none;
    border: 1px solid #809ac6;
    border-radius: 5px;
    cursor: pointer;
}
.field:focus {
    border: 1px solid #113064;
}

.error-field {
    border: 1px solid #FF0000;
}

.error-message {
    text-align: center;
    color: #FF0000;
}

.table{
    margin-top: 30px;
}